{{ define "partials/menu" }}

  <p><a href="/summary_all">→ Resumo gráficas total</a><br />
  <a href="/summary">→ Resumo gráficas por táboa</a><br />
  <a href="/adjudicatary">→ Resumo gráficas totais adxudicatarios</a><br />
  <a href="/tenders">→ Resumo gráficas totais licitacións</a></p>
{{ end }}