{{ define "partials/menu" }}

  <p><a href="/summary">→ Resumo gráficas</a><br />
  <a href="/adjudicatary">→ Resumo gráficas totais adxudicatarios</a><br />
  <a href="/tenders">→ Resumo gráficas totais licitacións</a></p>
{{ end }}