{{ define "index.gohtml" }}
<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/pico.min.css">
<title>SQLite Viewer</title>
<main class="container">
  <h2>{{ .concello }}</h2>

  {{ template "partials/menu" . }}

  <h3>Táboas</h3>
  <ul>
  {{ range .Tables }}
    <li><a href="/table/{{ . }}">{{ . }}</a></li>
  {{ end }}
  </ul>
</main>
{{ end }}